* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-transform: uppercase;
  box-sizing: border-box;
  font: inherit;
  font-weight: @regular-weight;
}

html {
  font-size: 10px;
}
body {
  font-size: 1.5rem;
}
html,
body {
  height: 100%;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: @spacing-small;
  height: 100%;
  font-family: @main-font;

  color: @dark-blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.🖼 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  min-height: 75vh;
  padding: @spacing;
  border-radius: 5px;
  width: 45rem;
  max-width: 100%;
  box-shadow: 0px 0px 75px -17px fade(@black, 25%);
  background-color: fade(@white, 30%);

  .responsive(@small-breakpoint, {
    padding: @spacing-small;
  });

  &.auto-height {
    min-height: initial;
  }

  > * {
    flex-shrink: 0;

    & + * {
      margin-top: @spacing-small;
    }
  }
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;

  button + button,
  .button + .button {
    margin-top: 0;
    margin-left: @spacing-small;
  }
}

.main-title {
  margin-bottom: @spacing-small;
  font-size: 4.5rem;
  font-weight: @light-weight;
  line-height: 1;

  .responsive(@small-breakpoint, {
    margin-bottom: 0;
  });
}

.medium-title {
  font-size: 2.5rem;
  font-weight: @light-weight;
  text-align: left;
  align-self: stretch;
}

.btn {
  position: relative;
  z-index: 0;
  width: 80%;
  padding: @button-padding;
  border: 2px solid @dark-blue;
  background: transparent;
  transition: color @transition-duration ease;
  cursor: pointer;
  color: @dark-blue;
  font-weight: @medium-weight;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;

  .responsive(@small-breakpoint, {
    width: 100%;
  });

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: fade(@white, 40%);
    transform: scale(0);
    transition: transform @transition-duration ease;
  }

  &:hover,
  &:focus {
    &:before {
      transform: scale(1);
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
  cursor: not-allowed;

  &:before {
    display: none;
  }
}

.scroll-view {
  overflow-y: scroll;
  width: 100%;
  border: 2px solid @dark-blue;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: @spacing-small @spacing;

  .responsive(@small-breakpoint, {
    padding: 0 @spacing-small;
  });

  > * {
    flex-shrink: 0;
  }

  .row {
    align-self: center;
    width: 100%;
  }
}
