* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-transform: uppercase;
  box-sizing: border-box;
  font: inherit;
  font-weight: @regular-weight;
  user-select: none;
}

html {
  font-size: 10px;
}
body {
  font-size: 1.5rem;
}
html,
body {
  height: 100%;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: @spacing-small;
  height: 100%;
  font-family: @main-font;

  color: @dark-blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    flex-shrink: 0;

    & + * {
      margin-top: @spacing-small;
    }
  }
}

.🖼 {
  max-height: 100%;
  min-height: 75vh;
  padding: @spacing;
  border-radius: @box-radius;
  width: 45rem;
  max-width: 100%;
  box-shadow: 0px 0px 75px -17px fade(@black, 25%);
  background-color: fade(@white, 30%);

  .responsive(@small-breakpoint, {
    padding: @spacing-small;
  });

  &.auto-height {
    min-height: initial;
  }
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;

  button + button,
  .button + .button {
    margin-top: 0;
    margin-left: @spacing-small;
  }
}

.main-title {
  margin-bottom: @spacing-small;
  font-size: 4.5rem;
  font-weight: @light-weight;
  line-height: 1;

  .responsive(@small-breakpoint, {
    margin-bottom: 0;
  });
}

.medium-title {
  font-size: 2.5rem;
  font-weight: @light-weight;
  text-align: left;
  align-self: stretch;
}

.btn {
  position: relative;
  z-index: 0;
  width: 80%;
  padding: @button-padding;
  border: 2px solid @dark-blue;
  background: transparent;
  transition: color @transition-duration-fast ease;
  cursor: pointer;
  color: @dark-blue;
  font-weight: @regular-weight;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;

  .responsive(@small-breakpoint, {
    width: 100%;
  });

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: fade(@white, 40%);
    transform: scale(0);
    transition: transform @transition-duration-fast ease;
  }

  &:hover,
  &:focus {
    &:before {
      transform: scale(1);
    }
  }

  &.btn-small {
    width: auto;
    padding: @button-small-padding;
  }

  &.btn-icon {
    padding-right: @spacing + .5rem;

    .icon {
      position: absolute;
      top: 50%;
      right: @spacing;
      transform: translate(50%, -50%);
    }
  }

  .icon {
    margin: 0 .5rem 0 0;
  }
}

.btn-link {
  background: transparent;
  padding: .2rem;
  margin: 0;
  outline: none;
  color: @dark-blue;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  .icon {
    margin: 0 .5rem 0 0;
  }
}

.center {
  text-align :center;
  justify-content: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
  cursor: not-allowed;

  &:before {
    display: none;
  }
}

.scroll-view {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  border: 2px solid @dark-blue;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: @spacing-small @spacing;

  .responsive(@small-breakpoint, {
    padding: 0 @spacing-small;
  });

  > * {
    flex-shrink: 0;
  }

  .row {
    align-self: center;
    width: 100%;
  }
}
