// Colors
@white: #ffffff;
@black: #000000;
@error-color: #df2800;
@dark-blue: #2c3e50;

@spacing: 3rem;
@spacing-small: @spacing / 2;
@spacing-medium: @spacing * 2;

@button-padding: 1.5rem 0.5rem;

@main-font: 'Work Sans', sans-serif;
@light-weight: 300;
@regular-weight: 400;
@medium-weight: 500;
@bold-weight: 700;
@black-weight: 900;

@small-breakpoint: 400px;

@transition-duration: 0.2s;
